@use "config" as *;
* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
	padding: 0;
}
main {
	min-height: 100vh;
}
header,
footer {
	a {
		text-decoration: none;
	}
}
// TODO: Create focus state for all HTML elements