@use "config" as *;
* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
	padding: 0;
}
main {
	min-height: 100vh;
}
.block {
    padding: clamp(to-rem(40), 5vw, to-rem(60)) 0;
}
.wrap {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0px to-rem(15);
}
.pt-50 {
	padding-top: to-rem(50);
}
.pb-50 {
	padding-bottom: to-rem(50);
}
.flex {
	display: flex;
}
.f-wrap {
	flex-wrap: wrap;
}
.align-center {
	align-items: center;
}
.just-center {
	justify-content: center;
}
.gap-20 {
	gap: to-rem(20);
}
.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.circular {
	border-radius: 50%;
}
.rounded {
	border-radius: to-rem;
	overflow: hidden;
}
.icon-container {
	display: flex;
	gap: to-rem(25);
}
.two-column {
	@media (min-width: 1024px) {
		column-count: 2;
		column-gap: to-rem(35);
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		max-width: fit-content;
	}
}
.overlay {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--bg-color);
		opacity: 0.3;
		border-radius: to-rem(3);
		z-index: 1; 
	}
}
.rel {
	position: relative;
}
.intro {
	margin: to-rem(20) auto to-rem(70);
	text-align: center;
	max-width: 800px;
}
// TODO: Create focus state for all HTML elements