/*--------------------
    Table of Contents
        # Colors
        # Fonts
        # Misc
--------------------*/

/*-----------
    # Colors
-----------*/

/*-----------
    # Fonts
-----------*/
$heading-font: "IBM Plex Mono", monospace;
$body-font: Arial, sans-serif;

/*-----------
    # Misc
-----------*/
$transition: 0.25s ease-in-out;