@use 'config' as *;

button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.icon-btn {
    // For this to work, the SVG inside .icon-button must have a stroke or fill set to "currentColor"
    color: var(--text-color);
}

#menu-toggle {
    @media (min-width: 768px) {
        display: none;
    }
}