@use "config" as *;

header {
    .wrap {
        @media (min-width: 402px) {
            justify-content: space-between;
            flex-direction: row;
        }
    }
    .header-right {
        @media (min-width: 768px) {
            gap: to-rem(35);
        }
        .nav {
            z-index: 20;
            background: var(--bg-color);
            padding: 20px;
            border: 2px solid var(--text-color);
            border-radius: 20px;
            top: 40px;
            right: 43px;
            max-height: 0;
            visibility: hidden;
            ul {
                flex-direction: column;
            }
            &.open {
                max-height: 2000px;
                visibility: visible;
                transition: max-height 0.45s ease-in-out, visibility 0.45s ease-in-out;
            }
            @media (min-width: 768px) {
                visibility: visible;
                max-height: none;
                position: static;
                flex-direction: row;
                padding: 0;
                border: none;
                border-radius: 0;
                ul {
                    flex-direction: row;
                }
            }
        }
    }
}